# Build output directory
build/

# Object files and Make dependency files
*.o
*.d
*.slo

# Libraries and Executables
*.a
*.so
*.dylib
*.dll
*.exe
*.out

# System / Editor bloat
.DS_Store
.vscode/
.idea/
/build
